<div class="page page-root">
  <div class="page-inner">
    <% @days.each do |day| %>
      <div class="events-day">
        <h3><%= day %></h3>
	<% cates = @event_group[day] %>
	<% cates.each do |cate| %>
	  <div class="events-ancestor">
	    <%= link_to  cate.name, cate.link_path(@team) %>
	    <% cate.items.each do |item| %>
	      <%= render item.action, item: item %>
	    <% end %>
	  </div>
	<% end %>
      </div>
    <% end %>
  </div>
</div>
