<!DOCTYPE html>
<html>
<head>
  <title>TwEvents</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">
    <div class="header">
      <h1 class="logo">
	<span class="name"><a><%= @team.name %></a></span>
      </h1>
      <ul class="nav">
	<li id="nav-events"><a>动态</a></li>
      </ul>
    </div>
    <div class="container workspace simple-stack">
      <%= yield %>
    </div>
  </div>

</body>
</html>
